[Unit]
Description=Chatbot AI Application
After=network.target

[Service]
Type=forking
User=root
Group=root
WorkingDirectory=/root/bot-v1
Environment=PATH=/usr/local/bin:/usr/bin:/bin
ExecStart=/usr/local/bin/gunicorn -c /root/bot-v1/gunicorn_config.py app:app --daemon
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 